
<%= render 'layouts/hero' %>
<div id="posts" class="col-md-12 center">
<h1>recent posts.</h1>



  
    <div class="row">
    <% @posts.each do |post| %>

  <div class="col-md-3">
      <h2>title</h2>
        <%= post.title %>
        <h2>post</h2>
        <%= post.description %> <br />
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
  
    <% end %>

      </div>
  
  

<br>

<%= link_to 'New Post', new_post_path %>

</div>
</div>


